outputs/*/*.png
outputs/*/*.csv
outputs/*/*.log
outputs/*/*.joblib
outputs/*.csv
outputs/*
src/data/cp.h5
src/data/cp_poly.gpkg
src/data/clients/earthaccess.netrc
data/cp.5
data/cp_poly.gpkg
data/cp_poly.csv
src/pyrocb.egg-info
src/data/clients/*.key
src/data/clients/*.netrc
*.csv
*cache*
*/cache*
*/*/*/*cache*
!src/analysis/mapping/signal_cache.py